@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
}

* {
  box-sizing: border-box;
}

.calendar {

  &__wrapper {
    border-collapse: collapse;
    color: #118488;
    background-color: white;
    width: $width-cell*7;
    border: 1px solid #118488;
  }

  &__head {
    background: $head-background;
    color: #fff;
  }

  &__cell {
    @include cell-size(80px, 80px);
    border: 1px solid #118488;
    text-align: center;
  }

  &__cell_pure {
    border: none;
  }
}
