$c-gray: #eee;
$color-pink: #fa555c;
$color-green: #1a7477;
$color-white: #fff;
$width-cell: 80px;
$height-cell: 80px;
$head-background: $color-pink;
$head-text-color: $color-white;
$border-text-color: $color-green;
